.listItem {
    padding: .7rem 1rem;
    border: 1px solid lightgrey;
    border-radius: 8px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}
.listItem div {
    margin-right: auto;
    margin-left: 0;
}

.item {
    margin-right: auto;
    color: blueviolet;
    height: auto;
    flex-wrap: wrap;
    word-wrap: wrap;
    overflow: hidden;
    margin-bottom: 0;
    margin-top: 0;
    text-align: start;
}

input[type="checkbox"] {
    align-self: flex-start
}

.delete {
    color: tomato;
    cursor: pointer;
    padding: .1em .3em;
    border: 1px solid red;
    border-radius: 20px;
}

/* .delete:hover {

} */
