.nav {
    padding: 1rem 2rem;
    margin-left: auto;
    margin-right: auto;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav a {
    text-decoration: none;
}

.nav li {
    list-style: none;
    text-decoration: none;
    color: dodgerblue;
}